body{
  background-color: black;
}

header{
  width: 100%;
  min-height: 10vh;
  margin: 2vh auto;
  padding: 2vh;
  background-color: #fff;
}

section{
  min-height: 82vh;
  background-color: #fff;
}

.moda{
 
}

@media (min-width: 576px) {


 }

@media (min-width: 768px) {


 }

@media (min-width: 992px) {


 }

@media (min-width: 1200px) {


 }